<div class="card">
  <%= link_to image_tag("画像", class: :card__img ), root_path%>
  <div class="card__body">
    <%= link_to "タイトル", root_path, class: :card__title%>
    <p class="card__summary">
      <%= "詳細" %>
    </p>
    <%= link_to "by #{current_user.nickname}", root_path, class: :card__user %>
  </div>
</div>