<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">目標・やりたいこと</h2>
      <%= render partial: "form", locals: { list: @list } %>
    </div>
  </div>
</div>